<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utilizer</title>
</head>

<body>
    <h1>Welcome To Text Utilizer</h1>
        
    <form action="analyzed/" method="post">
        {% csrf_token %}
        <textarea name="text" id="textarea" cols="30" rows="10"
        style="margin: 0px; height: 166px; width: 1094px;">
    </textarea>
    <br>
    <input type="checkbox" name="removepunc">Remove Punctuations <br>
    <input type="checkbox" name="capitalise">CAPITALISE <br>
    <button type="submit">Analyze</button>
    </form>
    
</body>

</html>